@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    src: url(Cardo_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Cardo_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Cardo_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/cardo/v8/zpisC4kGu76S5N9VhpMnEg.woff */
        url(Cardo_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/cardo/v8/SIpLsMDpk9G_fqh30tlawqCWcynf_cDxXwCLxiixG1c.ttf */
        url(Cardo_400_normal.svg#Cardo_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=tJfhmb6XM6Nefrs-MUPqRA&skey=6e473b3c3fa37289&v=v8#Cardo */
}
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url(Kanit_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Kanit_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Kanit_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/kanit/v1/JVz_oKf_FwFUD9iaz4pcLA.woff */
        url(Kanit_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/kanit/v1/aB__OiYlH5FwWeZAX1AzqaCWcynf_cDxXwCLxiixG1c.ttf */
        url(Kanit_400_normal.svg#Kanit_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=6NqFl3gqdI1XQsZzY0N5Lw&skey=f700248af71fb487&v=v1#Kanit */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(Lato_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff */
        url(Lato_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/1EqTbJWOZQBfhZ0e3RL9uvesZW2xOQ-xsNqO47m55DA.ttf */
        url(Lato_400_normal.svg#Lato_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=hLECvlEj3pKlnS4NFs8NQw&skey=2d58b92a99e1c086&v=v11#Lato */
}
@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    src: url(Cardo_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Cardo_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Cardo_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/cardo/v8/zpisC4kGu76S5N9VhpMnEg.woff */
        url(Cardo_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/cardo/v8/SIpLsMDpk9G_fqh30tlawqCWcynf_cDxXwCLxiixG1c.ttf */
        url(Cardo_400_normal.svg#Cardo_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=tJfhmb6XM6Nefrs-MUPqRA&skey=6e473b3c3fa37289&v=v8#Cardo */
}
@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    src: url(Cardo_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Cardo_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Cardo_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/cardo/v8/gHC1KgRPdVNdvvVcxLMCY_esZW2xOQ-xsNqO47m55DA.woff */
        url(Cardo_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/cardo/v8/V5fEf2Hmfq3L3OwPiowl-nYhjbSpvc47ee6xR_80Hnw.ttf */
        url(Cardo_700_normal.svg#Cardo_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    src: url(Cardo_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Cardo_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Cardo_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/cardo/v8/0_g5QMQebQZw5ilITPZHDA.woff */
        url(Cardo_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/cardo/v8/xXHuknbPe_gwKN1utB_FkALUuEpTyoUstqEm5AMlJo4.ttf */
        url(Cardo_400_italic.svg#Cardo_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url(Kanit_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Kanit_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Kanit_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/kanit/v1/JVz_oKf_FwFUD9iaz4pcLA.woff */
        url(Kanit_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/kanit/v1/aB__OiYlH5FwWeZAX1AzqaCWcynf_cDxXwCLxiixG1c.ttf */
        url(Kanit_400_normal.svg#Kanit_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=6NqFl3gqdI1XQsZzY0N5Lw&skey=f700248af71fb487&v=v1#Kanit */
}
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    src: url(Kanit_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Kanit_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Kanit_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/kanit/v1/80N5qy6eWS6rAwuoTuuAlvesZW2xOQ-xsNqO47m55DA.woff */
        url(Kanit_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/kanit/v1/8RyrrV_zjRvqislh0WkjjHYhjbSpvc47ee6xR_80Hnw.ttf */
        url(Kanit_700_normal.svg#Kanit_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 400;
    src: url(Kanit_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Kanit_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Kanit_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/kanit/v1/1eWwtw8TAQtQQpaimP6tkQ.woff */
        url(Kanit_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/kanit/v1/6RXW4qLFPXK4-ODYDJ-kSwLUuEpTyoUstqEm5AMlJo4.ttf */
        url(Kanit_400_italic.svg#Kanit_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(Lato_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff */
        url(Lato_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/1EqTbJWOZQBfhZ0e3RL9uvesZW2xOQ-xsNqO47m55DA.ttf */
        url(Lato_400_normal.svg#Lato_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=hLECvlEj3pKlnS4NFs8NQw&skey=2d58b92a99e1c086&v=v11#Lato */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(Lato_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff */
        url(Lato_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/MZ1aViPqjfvZwVD_tzjjkwLUuEpTyoUstqEm5AMlJo4.ttf */
        url(Lato_700_normal.svg#Lato_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(Lato_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff */
        url(Lato_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/61V2bQZoWB5DkWAUJStypevvDin1pK8aKteLpeZ5c0A.ttf */
        url(Lato_400_italic.svg#Lato_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    src: url(Cardo_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Cardo_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Cardo_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/cardo/v8/zpisC4kGu76S5N9VhpMnEg.woff */
        url(Cardo_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/cardo/v8/SIpLsMDpk9G_fqh30tlawqCWcynf_cDxXwCLxiixG1c.ttf */
        url(Cardo_400_normal.svg#Cardo_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=tJfhmb6XM6Nefrs-MUPqRA&skey=6e473b3c3fa37289&v=v8#Cardo */
}
@font-face {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    src: url(Cardo_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Cardo_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Cardo_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/cardo/v8/gHC1KgRPdVNdvvVcxLMCY_esZW2xOQ-xsNqO47m55DA.woff */
        url(Cardo_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/cardo/v8/V5fEf2Hmfq3L3OwPiowl-nYhjbSpvc47ee6xR_80Hnw.ttf */
        url(Cardo_700_normal.svg#Cardo_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    src: url(Cardo_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Cardo_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Cardo_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/cardo/v8/0_g5QMQebQZw5ilITPZHDA.woff */
        url(Cardo_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/cardo/v8/xXHuknbPe_gwKN1utB_FkALUuEpTyoUstqEm5AMlJo4.ttf */
        url(Cardo_400_italic.svg#Cardo_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url(Kanit_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Kanit_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Kanit_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/kanit/v1/JVz_oKf_FwFUD9iaz4pcLA.woff */
        url(Kanit_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/kanit/v1/aB__OiYlH5FwWeZAX1AzqaCWcynf_cDxXwCLxiixG1c.ttf */
        url(Kanit_400_normal.svg#Kanit_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=6NqFl3gqdI1XQsZzY0N5Lw&skey=f700248af71fb487&v=v1#Kanit */
}
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    src: url(Kanit_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Kanit_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Kanit_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/kanit/v1/80N5qy6eWS6rAwuoTuuAlvesZW2xOQ-xsNqO47m55DA.woff */
        url(Kanit_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/kanit/v1/8RyrrV_zjRvqislh0WkjjHYhjbSpvc47ee6xR_80Hnw.ttf */
        url(Kanit_700_normal.svg#Kanit_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 400;
    src: url(Kanit_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Kanit_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Kanit_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/kanit/v1/1eWwtw8TAQtQQpaimP6tkQ.woff */
        url(Kanit_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/kanit/v1/6RXW4qLFPXK4-ODYDJ-kSwLUuEpTyoUstqEm5AMlJo4.ttf */
        url(Kanit_400_italic.svg#Kanit_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(Lato_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff */
        url(Lato_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/1EqTbJWOZQBfhZ0e3RL9uvesZW2xOQ-xsNqO47m55DA.ttf */
        url(Lato_400_normal.svg#Lato_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=hLECvlEj3pKlnS4NFs8NQw&skey=2d58b92a99e1c086&v=v11#Lato */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(Lato_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff */
        url(Lato_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/MZ1aViPqjfvZwVD_tzjjkwLUuEpTyoUstqEm5AMlJo4.ttf */
        url(Lato_700_normal.svg#Lato_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(Lato_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Lato_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Lato_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff */
        url(Lato_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v11/61V2bQZoWB5DkWAUJStypevvDin1pK8aKteLpeZ5c0A.ttf */
        url(Lato_400_italic.svg#Lato_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    src: url(Yanone+Kaffeesatz_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Yanone+Kaffeesatz_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Yanone+Kaffeesatz_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRVMR8FhBa8rkfAKaPBwAU3s.woff */
        url(Yanone+Kaffeesatz_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRQ91NDJQ8xmnNnfLhE67IyP3rGVtsTkPsbDajuO5ueQw.ttf */
        url(Yanone+Kaffeesatz_300_normal.svg#Yanone+Kaffeesatz_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: url(Yanone+Kaffeesatz_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Yanone+Kaffeesatz_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Yanone+Kaffeesatz_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff */
        url(Yanone+Kaffeesatz_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLXH4RvoIgd8UGj-uxFsyfXs.ttf */
        url(Yanone+Kaffeesatz_400_normal.svg#Yanone+Kaffeesatz_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=YDAoLskQQ5MOAgvHUQCcLVo5cPwm5NmpXPRhl3HDdWE&skey=3fc37ea29e333560&v=v7#YanoneKaffeesatz */
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: url(Yanone+Kaffeesatz_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Yanone+Kaffeesatz_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Yanone+Kaffeesatz_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRWwXwFHHZlCwprwJOQ-Se7k.woff */
        url(Yanone+Kaffeesatz_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/yanonekaffeesatz/v7/We_iSDqttE3etzfdfhuPRRRjjUELlQic2wedUVqnm0D3rGVtsTkPsbDajuO5ueQw.ttf */
        url(Yanone+Kaffeesatz_700_normal.svg#Yanone+Kaffeesatz_700_normal) format('svg'); /* {{svg-gf-url}} */
}
