<div class="ui vertical footer segment">
	<div class="ui stackable padded doubling grid">
		<div class="six wide column">
			<h1 class="ui inverted header"><a href="/" title="Page d'acuiell"><i class="icon inverted link home"></i></a><a href="#sitemenu" title="Haute de page"><i class="icon inverted link up arrow"></i></a></h1>
			<h4 class="ui inverted header">Les Circuits</h4>
			<div class="ui inverted link list">
				<a href="/circuits/villes-unesco/apercu" class="item">Villes du Patrimoine</a>
				<a href="/circuits/terre-mer/apercu" class="item">Terre & Mer </a>
				<a href="/circuits/ceramique-argent/apercu" class="item">Ceramique, Argent et Autres Tresors</a>
				<a href="/circuits/vagues-tequila/apercu" class="item">Vagues & Tequila </a>
			</div>
			<h4 class="ui inverted header">Informations</h4>
			<div class="ui inverted link list">
				<a href="/informations/comment-proceder" class="item">Comment Procéder</a>
				<a href="/informations/conditions-generales" class="item">Conditions Générales</a>
				<a href="/informations/infos-practique" class="item">Informations Practique</a>
				<a href="/informations/calendrier" class="item">Calendrier</a>
			</div>
		</div>
		
		<div class="ten wide column">
			<h4 class="ui inverted header">Contact</h4>
			<form class="ui mini form">
				<div class="fields">
					<div class="eight wide field">
						<label>Nom</label>
						<input name="nom" type="text">
					</div>
					<div class="eight wide field">
						<label>Adresse mail</label>
						<input name="mail" type="text">
					</div>
				</div>
				<div class="fields">
					<div class="sixteen wide field">
						<label>Objet</label>
						<input name="objet" type="text">
					</div>
				</div>
				<div class="fields">
					<div class="sixteen wide field">
						<label>Message</label>
						<textarea></textarea>
					</div>
				</div>
				<button class="ui button" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>