

<nav id="sitemenu" class="ui stackable main menu">

        <a href="/" title="Home"class="header item">
            <i class="icon large home"></i>
        </a>
        <div class="ui simple dropdown item">
            Les Circuits <i class="dropdown icon"></i>
            <div class="menu">
                <a href="/circuits/villes-unesco/apercu" class="item">Villes du Patrimoine</a>
                <a href="/circuits/terre-mer/apercu" class="item">Terre & Mer</a>
                <a href="/circuits/ceramique-argent/apercu" class="item">Ceramique, Argent et Autres Tresors</a>
                <a href="/circuits/vagues-tequila/apercu" class="item">Vagues & Tequila</a>
            </div>
        </div>
        <a href="/informations/comment-proceder" class="item proceder">Comment Procéder</a>
        <a href="#footer" class="item"><i class="icon mail"></i>Contact</a>

</nav>
